/* You can add global styles to this file, and also import other style files */
li {
    cursor: pointer;
    transition: 300ms;
}
li:hover{
    transform: scale(1.03);
}
.small-flag{
    width: 60px;
    height: 40px;
}